<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuchq.Moxy.dao.SettingMapper">
  <resultMap id="BaseResultMap" type="com.liuchq.Moxy.bean.Setting">
    <id column="setting_id" jdbcType="VARCHAR" property="settingId" />
    <result column="setting_key" jdbcType="VARCHAR" property="settingKey" />
    <result column="setting_value" jdbcType="VARCHAR" property="settingValue" />
    <result column="setting_createtime" jdbcType="TIMESTAMP" property="settingCreatetime" />
    <result column="setting_description" jdbcType="VARCHAR" property="settingDescription" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    setting_id, setting_key, setting_value, setting_createtime, setting_description
  </sql>
  <select id="selectByExample" parameterType="com.liuchq.Moxy.bean.SettingExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from moxy_t_setting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from moxy_t_setting
    where setting_id = #{settingId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from moxy_t_setting
    where setting_id = #{settingId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.liuchq.Moxy.bean.SettingExample">
    delete from moxy_t_setting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.liuchq.Moxy.bean.Setting">
    insert into moxy_t_setting (setting_id, setting_key, setting_value, 
      setting_createtime, setting_description
      )
    values (#{settingId,jdbcType=VARCHAR}, #{settingKey,jdbcType=VARCHAR}, #{settingValue,jdbcType=VARCHAR}, 
      #{settingCreatetime,jdbcType=TIMESTAMP}, #{settingDescription,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.liuchq.Moxy.bean.Setting">
    insert into moxy_t_setting
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="settingId != null">
        setting_id,
      </if>
      <if test="settingKey != null">
        setting_key,
      </if>
      <if test="settingValue != null">
        setting_value,
      </if>
      <if test="settingCreatetime != null">
        setting_createtime,
      </if>
      <if test="settingDescription != null">
        setting_description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="settingId != null">
        #{settingId,jdbcType=VARCHAR},
      </if>
      <if test="settingKey != null">
        #{settingKey,jdbcType=VARCHAR},
      </if>
      <if test="settingValue != null">
        #{settingValue,jdbcType=VARCHAR},
      </if>
      <if test="settingCreatetime != null">
        #{settingCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="settingDescription != null">
        #{settingDescription,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.liuchq.Moxy.bean.SettingExample" resultType="java.lang.Long">
    select count(*) from moxy_t_setting
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update moxy_t_setting
    <set>
      <if test="record.settingId != null">
        setting_id = #{record.settingId,jdbcType=VARCHAR},
      </if>
      <if test="record.settingKey != null">
        setting_key = #{record.settingKey,jdbcType=VARCHAR},
      </if>
      <if test="record.settingValue != null">
        setting_value = #{record.settingValue,jdbcType=VARCHAR},
      </if>
      <if test="record.settingCreatetime != null">
        setting_createtime = #{record.settingCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settingDescription != null">
        setting_description = #{record.settingDescription,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update moxy_t_setting
    set setting_id = #{record.settingId,jdbcType=VARCHAR},
      setting_key = #{record.settingKey,jdbcType=VARCHAR},
      setting_value = #{record.settingValue,jdbcType=VARCHAR},
      setting_createtime = #{record.settingCreatetime,jdbcType=TIMESTAMP},
      setting_description = #{record.settingDescription,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.liuchq.Moxy.bean.Setting">
    update moxy_t_setting
    <set>
      <if test="settingKey != null">
        setting_key = #{settingKey,jdbcType=VARCHAR},
      </if>
      <if test="settingValue != null">
        setting_value = #{settingValue,jdbcType=VARCHAR},
      </if>
      <if test="settingCreatetime != null">
        setting_createtime = #{settingCreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="settingDescription != null">
        setting_description = #{settingDescription,jdbcType=VARCHAR},
      </if>
    </set>
    where setting_id = #{settingId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.liuchq.Moxy.bean.Setting">
    update moxy_t_setting
    set setting_key = #{settingKey,jdbcType=VARCHAR},
      setting_value = #{settingValue,jdbcType=VARCHAR},
      setting_createtime = #{settingCreatetime,jdbcType=TIMESTAMP},
      setting_description = #{settingDescription,jdbcType=VARCHAR}
    where setting_id = #{settingId,jdbcType=VARCHAR}
  </update>
</mapper>